<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @regular_certificate.subject %>
</p>

<%= link_to 'Edit', edit_regular_certificate_path(@regular_certificate) %> |
<%= link_to 'Back', regular_certificates_path %>
