<%= form_for(root_certificate, :multipart => true) do |f| %>
  <% if root_certificate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(root_certificate.errors.count, "error") %> prohibited this root_certificate from being saved:</h2>

      <ul>
      <% root_certificate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
